# Regresión logística para predicciones bancarias

In [13]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../datasets/bank/bank.csv", sep=";")

In [3]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [4]:
n_filas = data.shape[0]
n_columns = data.shape[1]
print(f'Filas: {n_filas}\nColumnas: {n_columns}')

Filas: 4119
Columnas: 21

In [5]:
data.columns.values

array(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'], dtype=object)

In [6]:
# Convertimos la variable y en 0 y 1
data["y_new"]  = (data["y"]=="yes").astype(int)

In [14]:
data["education"].unique()

array(['basic.9y', 'high.school', 'university.degree',
       'professional.course', 'basic.6y', 'basic.4y', 'unknown',
       'illiterate'], dtype=object)

In [36]:
def transform_education(education):
    if education in ["basic.4y", "basic.6y", "basic.9y"]: return "Basic"
    elif education == "high.school": return "High School"
    elif education == "professional.course": return "Professional course"
    elif education == "university.degree": return "University Degree"
    elif education == "illiterate": return "Illiterate"
    elif education == "unknown": return "Unknown"
    else: return education

In [40]:
data = data.drop("education_new", axis=1)
data["education_new"] = data.apply(lambda x: transform_education(x.education), axis=1)
data["education_new"].unique()

array(['Basic', 'High School', 'University Degree', 'Professional course',
       'Unknown', 'Illiterate'], dtype=object)

In [54]:
data["y_new"].value_counts()

0    3668
1     451
Name: y_new, dtype: int64

In [59]:
data.groupby("y_new").mean()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
y_new,,,,,,,,,,
0,39.895311,219.40976,2.605780,982.763086,0.141767,0.240185,93.599677,-40.586723,3.802826,5175.502072
1,41.889135,560.78714,1.980044,778.722838,0.585366,-1.177384,93.417268,-39.786475,2.145448,5093.118625